In [88]:
import pandas as pd
df = pd.read_csv('Salaries.csv')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN

1. How many unique jobs are there? Look at the unique method in pandas.

In [89]:
len(df['JobTitle'].unique())

93

2. Count how many people have the first name "John"

In [90]:
(df['EmployeeName'].str.split(' ').str[0].str.lower() == 'john').sum()

30

3. Find the surname of everyone whose first name is more than 6 characters long

In [91]:
names_split = df['EmployeeName'].str.split(' ')
for name in names_split:
    if len(name[0]) > 6:
        print(name[1])

FORD
CHONG
GARDNER
MORRIS
JACKSON
CORRIEA
WONG
SUHR
GUZMAN
WARD
THOMPSON
THOMPSON
GARCIA
ROLOVICH
ROSENFIELD
RIBA
CHUNG
SMITH
CRANE
MAR
PARRY
BUSALACCHI
FREED
MOYER
FLORES
DELANE
GONZALEZ
MYERS
BAXTER
BRYANT
STANGLAND
WALSH
SCOTT
ADAMS
WONG
ALI
CASTAGNOLA
MITCHELL
JULIAN
SAKOWSKI
ROUALDES
PUMPHREY
LEMOS
CARLIN
STEWART
DUMONT
DENTONI
CHOW
CARR
KEARNEY
MCNAUGHTON
YEE
BIEL
VERHAEG
SCOTT
BROWNE
PEDRUCO
LEE
BARASH
BALLOU
CHEN
HAZEN
JEQUINTO
RILEY
AHERN
SULLIVAN
TRIPLETT
PINTO
GERMAN
ELLIS
SCHULTHEIS
KOENIG
TACCHINI
RADER
MCFARLAND
AVILA
CORRALES
RYKOWSKI
SIMMONS
PARRA
REYES
DEALBA
O'CONNER
LEE
CADELINA
LERMA
CHAVEZ
BINKLEY
ADACHI
MATHEWS
BRIGHAM
HENNESSEY
RAPADAS
MCEACHERN
CALLAHAN
YOU
TOPPS
MENESES
GONZALES
ZMUDA
DEBERRY
WHOOLEY
CACHARELIS
MARX
JAMES
OSULLIVAN
MOYNIHAN
SANTIAGO
SMITH
CELAYA
TITTEL
AGARD
RAMLAN
NURU
CORDERO
DRENNAN
MCFARLAND
DIVECCHIO
JETER
ELLIOTT
MULKEEN
MATZ
MAXWELL
ORKES
SIFFERMANN
DALY
JOHNSON
NICHOLLS
PAMPANIN
VALENCIA
MCGORRIN
GROOTHOFF
CONNOLLY
LEE
INOUYE
DAVIS
BROBERG
MCFARLAND
ZERCHER
HOBRUCKER-PFEIFER
WILLIAMS
GUNDOGDU
BARDEN
CANNON
ISON
UNTALAN
JONES
QUAN
ROBINSON
COLEMAN
PHILPOTT
HAYASHI
CURRIE
HENLEY
DUDOROFF
ERLER
BENDER
FERMIN
HOW
LEE
BAJWA
MOALA
MUELLER
ROTHSCHILD
COLANGELO
SHUMPERT
HALE
HANNAFORD
STINSON
LOGAN
BORNE
MULLANEY
SINCLAIR
BELLO
FOWLER
CARNEY
WINKLER
KWAN
THOMPSON
SERRANO
VAN
HUTCHINSON
FARR
RUSSELL
JACKSON
PONTEJOS-MURPHY
NOLAN
RODY
WOO
AVILES
MURDOCK
CHU
GERING
GRIFFIN
REPETTO
HERNANDEZ
NOCOS
FONG
KWAN
ENCINAS
MEDINA
KOLTZOFF
HUPKE
PORTER
NG
GRIMESEY
HILTON
MCDEVITT
ROSEN
MARTIN
GAUGER
LEE
LIU
SALVESON
AGUILAR-TARCHI

4. Create a new column called "last_updated" where every value is equal to the current time (use the datetime module and format the date in ISO format).

In [92]:
import datetime as dt
df['last_updated'] = dt.datetime.now().isoformat(' ')
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,last_updated
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844

5. Create a new derived column called "time_ratio" in the DataFrame which is the proportion of overtime pay to base pay

In [93]:
df['time_ratio'] = (df['OvertimePay'] / df['BasePay']) * 100
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,last_updated,time_ratio
0,AA,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.000000
1,AB,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,1.571701
2,AC,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.498677
3,AD,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.720272
4,AE,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.072447
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
671,ZV,CHERYL ADAMS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.89,NaN,180394.07,180394.07,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.000000
672,ZW,LOUISE SIMPSON,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.18,0.00,3537.80,NaN,180393.98,180393.98,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.000000
673,ZX,BLAKE LOEBS,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.19,0.00,3537.75,NaN,180393.94,180393.94,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.000000
674,ZY,ELIZABETH AGUILAR-TARCHI,"HEAD ATTORNEY, CIVIL AND CRIMINAL",176856.17,0.00,3537.11,NaN,180393.28,180393.28,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.000000
675,ZZ,JULIAN NG,SERGEANT III (POLICE DEPARTMENT),130457.76,43793.11,6061.80,NaN,180312.67,180312.67,2011,NaN,San Francisco,NaN,2023-10-29 22:56:18.993844,0.335688